body{
  text-decoration: none;
  list-style: none;
  background-color: #15171b;
}

input {
  background-color: #afafaf;
  border-radius: 6px;
}
h1, h2, h3, label{
  color: white;
}



:root{

  --white: #fff;
  --gray-100: #afafaf;
  --gray-200: #425252; 
  --gray-700: #15171b; 
  --gray-900: #111113; 

  --blue-900: #1fa4e5;
  --yellow-500: #ffbe16; 

}